<form  nz-form [formGroup]="formGroup">
  <div  *ngFor="let key of workMode">
    <div class="title">
      <h3>{{key}}</h3>
    </div>
      <div class="{{formClass}}">
        <ng-container *ngFor="let field of formTypes">
          <nz-form-item *ngIf="field.key.indexOf(key) > -1">
            <nz-form-label [nzSpan]="labelSpan">{{field.prefix}}</nz-form-label>
            <nz-form-control [nzSpan]="controlSpan" [ngSwitch]="field.type">

              <input nz-input [formControlName]="field.key" type="field.type">

              <nz-form-explain *ngIf="formGroup.controls[field.key].errors">
                <ng-container>
                  {{formGroup.controls[field.key].errors | formError: field.errors }}
                </ng-container>
              </nz-form-explain>
            </nz-form-control>
          </nz-form-item>
        </ng-container>
      </div>
  </div>
</form>
