<div class="left-menu-content">
  <div class="header" *ngIf="!operationState">
    <button nz-button (click)="onOperation('onAdd')" [disabled]="disabledState">添加</button>
    <button nz-button (click)="onOperation('onModify')" [disabled]="!titleId || disabledState">修改</button>
    <button nz-button (click)="onOperation('onDelete')" [disabled]="!titleId || disabledState">删除</button>
    <button nz-button (click)="onOperation('onCloud')">
      <i class="anticon anticon-ie"></i>
    </button>
  </div>
  <div class="header" *ngIf="operationState">
    <button nz-button (click)="onOperation('onSave')">保存</button>
    <button nz-button (click)="onOperation('onCancel')">取消</button>
  </div>
  <div *ngIf="bridges">
    <nz-checkbox-wrapper  style=" width: 100%;display: flex;align-items: center;justify-content: space-around;height: 36px;" (nzOnChange)="selectGroup($event)">
      <label nz-checkbox nzValue="1" style="color: #87d068;" [ngModel]="1 | CheckboxSelect: groupBridgeStr" >已</label>
      <label nz-checkbox nzValue="0" style="color: grey;" [ngModel]="0 | CheckboxSelect: groupBridgeStr">未</label>
      <label nz-checkbox nzValue="234" style="color: #108ee9;" [ngModel]="234 | CheckboxSelect: groupBridgeStr">在</label>
    </nz-checkbox-wrapper>
  </div>
  <div class="main" [ngStyle]="{'overflow-y': menuDataState ? 'hidden' : 'auto'}" (dblclick)="$event.stopPropagation(); menuButton.showFullMenu()">
    <ng-container *ngIf="menus; else elseBlock">
      <div [ngStyle]="{'height': menuDataState && titleId === item.id ? '100%' : 'auto'}" *ngFor="let item of menus; index as i">
        <ul *ngIf="!menuDataState || (titleId === item.id || titleId === null)">
          <div class="title" [ngClass]="{'active': titleId === item.id}" (click)="onMenu1(i, item)">
            <div class="text-img">
              <h3>{{item.name}}</h3>
            </div>
            <div class="right" *ngIf="menuDataState">
              <nz-tag [nzColor]="'#87d068'">{{item.count}}</nz-tag>
              <i class="icon anticon anticon-down" [ngClass]="{'transform': titleId === item.id}"></i>
            </div>
          </div>
          <!-- 梁菜单 -->
          <div [@list]="bridges.length" class="bridge-list" *ngIf="bridges && titleId === item.id">

            <!-- <li></li> -->
            <ng-container *ngFor="let bridge of selectBridges">
              <li [ngClass]="{'active': bridgeId === bridge.id}" (click)="onBridge(bridge.id)">
                <span class="state" [ngClass]="'state' + bridge.state"></span>
                <span mat-line>{{bridge.name}}</span>
              </li>
            </ng-container>
          </div>
        </ul>
      </div>
    </ng-container>
    <ng-template #elseBlock>
      <div class="title">
        <h3>
          没有数据
        </h3>
      </div>
    </ng-template>
    <div class="title" *ngIf="menus && menus.length === 0;">
      <nz-spin nzTip='加载中...'></nz-spin>
    </div>
  </div>
  <div class="footer">
    <!-- <button nz-button nzShape="circle" nzType="primary" (click)="fullMenu.showModal()">
      <i class="anticon anticon-appstore"></i>
    </button>
    <div class="device">
      <button nz-button nzType="primary" nzGhost>{{_ms.deviceLinkZ}}</button>
      <button nz-button nzType="primary" nzGhost>{{_ms.deviceLinkC}}</button>
    </div>
    <app-full-menu #fullMenu></app-full-menu> -->
    <app-menu-button #menuButton></app-menu-button>
  </div>
</div>
