header {
  height: 56px;
  text-align: center;
  display: flex;
  h1 {
    flex: 1;
  }
}
main {
  h2 {
    padding-bottom: 15px;
  }
  .item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    nz-form-item{
      margin-left: 10px;
      margin-right: 10px;
    }
  }
}
