<div style="display: flex; flex-direction: column; height: 100%;">
  <header>
    <app-menu-button [fullMenuState]="false" [logoutState]="true"></app-menu-button>
    <h1>设备参数设置</h1>
  </header>
  <main style="flex: 1;">
    <nz-card style="width: 100%; height: 100%">
      <nz-tabset nzSize="large">
        <nz-spin [nzSpinning]="(_ms.connectNo === '2' && (!_ms.Dev.a1.liveData?.connectState || !_ms.Dev.a2.liveData?.connectState))
                  || (_ms.connectNo === '1' && !_ms.Dev.a1.liveData?.connectState) || saveState
                " [nzTip]="saveState? '数据保存中...' : '设备联机有误！'" [nzSize]="'large'">
          <nz-tab nzTitle="安全参数" [nzDisabled]="_appService.editState">
            <nz-divider nzText="主站" nzOrientation="left"></nz-divider>
            <form class="item" *ngIf="baseForm" nz-form [formGroup]="baseForm.formGroup">
              <nz-form-item *ngFor="let field of baseForm.formTypes" [ngClass]="{'grid-2': field.key === 'modeRadio'}">
                <nz-form-label [nzSpan]="8">{{field.prefix}}</nz-form-label>
                <nz-form-control [nzSpan]="16" [ngSwitch]="field.type">
                  <nz-input-group [nzAddOnAfter]="field.after" *ngIf="field.key !== 'modeRadio'">
                    <input (focus)="$event.target.select()" type="number" nz-input nzSize="large" [formControlName]="field.key">
                  </nz-input-group>

                  <nz-radio-group [formControlName]="field.key" *ngIf="field.key === 'modeRadio'">
                    <label nz-radio *ngFor="let radio of field.radio" [nzValue]="radio.value">{{radio.name}}</label>
                  </nz-radio-group>

                  <nz-form-explain *ngIf="baseForm.formGroup.controls[field.key].errors">
                    <ng-container>
                      {{baseForm.formGroup.controls[field.key].errors | formError: field.errors }}
                    </ng-container>
                  </nz-form-explain>
                </nz-form-control>
              </nz-form-item>

            </form>
            <div *ngIf="_appService.editState" style="display: flex; justify-content: flex-end;">
              <button (click)="baseSave()" nz-button>保 存</button>
              <button (click)="cancel()" nz-button>取 消</button>
            </div>
            <nz-divider nzText="从站" nzOrientation="left"></nz-divider>
            <form class="item" *ngIf="baseFormC" nz-form [formGroup]="baseFormC.formGroup">
              <nz-form-item *ngFor="let field of baseFormC.formTypes" [ngClass]="{'grid-2': field.key === 'modeRadio'}">
                <nz-form-label [nzSpan]="8">{{field.prefix}}</nz-form-label>
                <nz-form-control [nzSpan]="16" [ngSwitch]="field.type">
                  <nz-input-group [nzAddOnAfter]="field.after" *ngIf="field.key !== 'modeRadio'">
                    <input (focus)="$event.target.select()" type="number" nz-input nzSize="large" [formControlName]="field.key">
                  </nz-input-group>

                  <nz-radio-group [formControlName]="field.key" *ngIf="field.key === 'modeRadio'">
                    <label nz-radio *ngFor="let radio of field.radio" [nzValue]="radio.value">{{radio.name}}</label>
                  </nz-radio-group>
                </nz-form-control>
              </nz-form-item>
            </form>
            <div>
              <nz-divider nzText="注意事项" nzOrientation="left"></nz-divider>
              <h3>主/从设置参数必须相同</h3>
              <h3>联机模式：保证设备在连接正常状态下设置参数</h3>
            </div>
          </nz-tab>
        </nz-spin>
        <nz-tab nzTitle="自动控制参数" [nzDisabled]="_appService.editState">
          <div class="item">
            <nz-form-item>
              <nz-input-group nzAddOnBefore="允许偏差率上限" nzAddOnAfter="%">
                <input (focus)="$event.target.select()" type="number" nz-input nzSize="large" [value]="autoControlModel.maximumDeviationRate" (input)="editAutoContro($event, 'maximumDeviationRate')">
              </nz-input-group>
            </nz-form-item>
            <nz-form-item>
              <nz-input-group nzAddOnBefore="允许偏差率下限" nzAddOnAfter="%">
                <input (focus)="$event.target.select()" type="number" nz-input nzSize="large" [value]="autoControlModel.LowerDeviationRate" (input)="editAutoContro($event, 'LowerDeviationRate')">
              </nz-input-group>
            </nz-form-item>
            <nz-form-item>
              <nz-input-group nzAddOnBefore="允许压力偏差" nzAddOnAfter="Mpa">
                <input (focus)="$event.target.select()" type="number" nz-input nzSize="large" [value]="autoControlModel.mpaDeviation" (input)="editAutoContro($event, 'mpaDeviation')">
              </nz-input-group>
            </nz-form-item>
            <nz-form-item>
              <nz-input-group nzAddOnBefore="平衡控制" nzAddOnAfter="mm">
                <input (focus)="$event.target.select()" type="number" nz-input nzSize="large" [value]="autoControlModel.mmBalanceControl" (input)="editAutoContro($event, 'mmBalanceControl')">
              </nz-input-group>
            </nz-form-item>
            <nz-form-item>
              <nz-input-group nzAddOnBefore="倒顶位移下限" nzAddOnAfter="mm">
                <input (focus)="$event.target.select()" type="number" nz-input nzSize="large" [value]="autoControlModel.mmGoBack" (input)="editAutoContro($event, 'mmGoBack')">
              </nz-input-group>
            </nz-form-item>
            <nz-form-item>
              <nz-input-group nzAddOnBefore="卸荷完成延时" nzAddOnAfter="s">
                <input (focus)="$event.target.select()" type="number" nz-input nzSize="large" [value]="autoControlModel.loadOffTime" (input)="editAutoContro($event, 'loadOffTime')">
              </nz-input-group>
            </nz-form-item>
          </div>
          <div *ngIf="_appService.editState" style="display: flex; justify-content: flex-end;">
              <button (click)="autoControSave()" nz-button>保 存</button>
              <button (click)="autoControcancel()" nz-button>取 消</button>
            </div>
        </nz-tab>
      </nz-tabset>
    </nz-card>
  </main>
</div>
