.content {
  height: 100%;
  display: flex;
  flex-direction: column;
  // overflow: hidden;
}
header {
  height: 56px;
  display: flex;
  justify-content: space-between;
  h1 {
    line-height: 56px;
    font-size: 36px;
  }
}
main {
  flex: 1;
  display: flex;
  flex-direction: column;
  table {
    width: 100%;
    text-align: center;
  }
  .cvs {
    flex: 1;
    display: grid;
    grid-template-rows: 1fr 1fr;
  }
}

.run-main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    nz-form-item{
      margin-left: 10px;
      margin-right: 10px;
    }
}
.check {
  width: 100%;
  text-align: center;
  td {
    height: 30px;
  }
}

.live-stage {
  display: flex;
  height: 56px;
  .item {
    display: flex;
    align-items: center;
    flex-direction: column;
    flex: 1;
    .top {
      width: 100%;
      display: flex;
      position: relative;
      align-items: center;
      nz-progress {
        width: 100%;
      }
      button{
        width: auto;
        padding: 1px 5px;
      }
      span {
        position: absolute;
        top: 0;
        left: 50%;
      }

    }
    .text {
      padding-left: 10px;
    }
  }
}

table {
  font-size: 20px;
}
