<!-- <input type="number" name="msg" [(ngModel)]="msg">
<button (click)="F05(1, 1280, true)" nz-button>OnY0</button>
<button (click)="F05(1, 1280, false)" nz-button>OffY0</button>
<button (click)="F05(2, 1280, true)" nz-button>从OnY0</button>
<button (click)="F05(2, 1280, false)" nz-button>从OffY0</button>
<button (click)="F01(1, 1280, 20)" nz-button>F01</button>
<button (click)="Test()" nz-button>Test</button>
<h1>{{messages}}</h1> -->

<div class="content">
  <div>
    <header>
      <app-menu-button></app-menu-button>
      <h1>梁:{{_ms.tensionData.bridgeName}} 孔号:{{_ms.tensionData.holeName}}</h1>
      <div></div>
    </header>
    <hr>
  </div>
  <main>
    <div>
      <header class="live-stage">
        <div *ngFor="let item of _ms.liveState; index as i" class="item">
          <div class="top">
            <button nz-button [nzType]=" _ms.recordData.stage >= i ? 'primary': 'dashed'" nzShape="circle">{{item}}</button>
            <nz-progress [nzPercent]="(_ms.recordData.time[i] / _ms.tensionData.checkData.time[i]) * 100"  [nzStatus]="'active'" [nzShowInfo]="false" ></nz-progress>
            <span>{{_ms.recordData.time[i]}} / {{_ms.tensionData.checkData.time[i]}}</span>
          </div>
          <div class="bottom">
            <p>延时30/30</p>
          </div>
        </div>
        <div class="item">
            <div class="top">
              <button nz-button [nzType]=" _ms.runTensionData.loadOffDelayState ? 'primary': 'dashed'" nzShape="circle">卸荷</button>
              <nz-progress [nzPercent]="(_ms.runTensionData.nowLodOffTime / _ms.runTensionData.LodOffTime) *100"  [nzStatus]="'active'" [nzShowInfo]="false" ></nz-progress>
              <span >{{_ms.runTensionData.nowLodOffTime}} / {{_ms.runTensionData.LodOffTime}}</span>
            </div>
            <div class="bottom" >
              <p>延时30/30</p>
            </div>
          </div>
          <div style="flex: 0;" class="item">
            <div class="top">
              <button nz-button  nzShape="circle">回程</button>
            </div>
          </div>
        <!-- <nz-steps [nzCurrent]="_ms.recordData.stage">
          <nz-step [nzTitle]="item" *ngFor="let item of _ms.liveState; index as i"></nz-step>
        </nz-steps> -->
      </header>
      <hr>
    </div>
    <div>
      <table border="1" cellspaning="0">
        <thead>
          <tr>
            <th width="80">设备</th>
            <th >状态</th>
            <th width="120">压力MPa</th>
            <th width="120">目标压力</th>
            <th width="120">绝对位移mm</th>
            <th width="120">单顶伸张量mm</th>
            <th width="120">总伸长量</th>
            <th width="120">偏差率</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let name of _ms.tensionData.modes">
            <td>{{name}}</td>
            <td>{{_ms.showValues[name].state}}</td>
            <td>{{_ms.showValues[name].mpa}}</td>
            <td>{{_ms.tensionData.checkData.mpa[name][_ms.recordData.stage]}}</td>
            <td>{{_ms.showValues[name].mm}}</td>
            <td>{{_ms.liveSum?  _ms.liveSum[name].mm : null}}</td>
            <td *ngIf="_ms.tensionData.modes.length === 1">{{_ms.liveSum? _ms.liveSum[name]?.sum : null}}</td>
            <td *ngIf="_ms.tensionData.modes.length === 1">{{_ms.liveSum? _ms.liveSum[name]?.deviation : null}}%</td>
            <td *ngIf="_ms.tensionData.modes.length !== 1 && (name === 'a1' || name === 'b1')" rowspan="2">{{_ms.liveSum? _ms.liveSum[name]?.sum : null}}</td>
            <td *ngIf="_ms.tensionData.modes.length !== 1 && (name === 'a1' || name === 'b1')" rowspan="2">{{_ms.liveSum? _ms.liveSum[name]?.deviation : null}}%</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="cvs">
      <div #cvs>
        <app-canvas-cvs *ngIf="heightCvs && _ms.runTensionData.state" [width]="widthCvs" [height]="heightCvs"></app-canvas-cvs>
      </div>
      <div>
        <!-- <app-canvas-cvs name="Mm" *ngIf="heightCvs && _ms.runTensionData.state" [width]="widthCvs" [height]="heightCvs" title="位移曲线·mm"
          [yMax]="220" [ticks]="[0, 40, 80, 120, 160, 200, 240]"></app-canvas-cvs> -->
      </div>
    </div>
  </main>
</div>

<!-- 张拉弹出框 -->
<nz-modal [nzVisible]="runTension.runState" nzTitle="准备张拉·数据核对" nzWidth="auto" [nzFooter]="runFooter" [nzMaskClosable]="false"
  nzClosable="false">
  <nz-card nzTitle="控制参数">
    <div class="run-main">
      <nz-form-item>
        <nz-input-group nzAddOnBefore="允许偏差率上限" nzAddOnAfter="%">
          <input type="number" nz-input nzSize="large" [value]="autoControl.maximumDeviationRate" (change)="onSet(508, $event)">
        </nz-input-group>
      </nz-form-item>
      <nz-form-item>
        <nz-input-group nzAddOnBefore="允许偏差率下限" nzAddOnAfter="%">
          <input type="number" nz-input nzSize="large" [value]="autoControl.LowerDeviationRate" (change)="onSet(509, $event)">
        </nz-input-group>
      </nz-form-item>
      <nz-form-item>
        <nz-input-group nzAddOnBefore="允许压力偏差" nzAddOnAfter="Mpa">
          <input type="number" nz-input nzSize="large" [value]="autoControl.mpaDeviation" (change)="onSet(510, $event, 'mpa')">
        </nz-input-group>
      </nz-form-item>
      <nz-form-item>
        <nz-input-group nzAddOnBefore="平衡控制" nzAddOnAfter="mm">
          <input type="number" nz-input nzSize="large" [value]="_ms.runTensionData.mmBalanceControl" (input)="_ms.runTensionData.mmBalanceControl = $event.target.valueAsNumber">
        </nz-input-group>
      </nz-form-item>
      <nz-form-item>
        <nz-input-group nzAddOnBefore="倒顶位移下限" nzAddOnAfter="mm">
          <input type="number" nz-input nzSize="large" [value]="autoControl.mmReturnLowerLimit" (change)="onSet(512, $event, 'mm')">
        </nz-input-group>
      </nz-form-item>
      <nz-form-item>
        <nz-input-group nzAddOnBefore="卸荷完成延时" nzAddOnAfter="s">
          <input type="number" nz-input nzSize="large" [value]="_ms.runTensionData.LodOffTime" (input)="_ms.runTensionData.LodOffTime = $event.target.valueAsNumber">
        </nz-input-group>
      </nz-form-item>
    </div>
  </nz-card>
  <nz-card nzTitle="张拉参数">
    <table border="1" cellspaning="0" class="check">
      <tbody>
        <tr >
          <td>张拉阶段</td>
          <td *ngFor="let item of _ms.tensionData.checkData.stage">{{item}}</td>
        </tr>
        <tr >
          <td>张拉应力</td>
          <td *ngFor="let item of _ms.tensionData.checkData.kn">{{item}}</td>
        </tr>
        <tr *ngFor="let name of _ms.tensionData.modes">
          <td>{{name}}</td>
          <td *ngFor="let item of _ms.tensionData.checkData.mpa[name]">{{item}}</td>
        </tr>
        <tr >
            <td>保压时间</td>
            <td *ngFor="let item of _ms.tensionData.checkData.time">{{item}}</td>
          </tr>
      </tbody>
    </table>
  </nz-card>
  <ng-template #runFooter>
    <button nz-button nzType="default" (click)="onCancelTension()">取 消</button>
    <button nz-button nzType="primary" (click)="onRunTension()">启动张拉</button>
  </ng-template>
</nz-modal>

<nz-modal [nzVisible]="_ms.runTensionData.returnState" nzTitle="张拉完成" [nzFooter]="returnFooter" [nzMaskClosable]="false"
  nzClosable="false">
  <div>
    <h1>张拉完成！数据保存完成！</h1>
    <h2>{{_ms.ExitTime}}s 自动退出！</h2>
  </div>
  <ng-template #returnFooter>
    <button nz-button nzType="default" (click)="onStop()">停止退出</button>
    <button nz-button nzType="primary" (click)="onAutoReturn()">继续回程退出</button>
  </ng-template>
</nz-modal>

<nz-modal [nzVisible]="_ms.runTensionData.stopState" nzTitle="张拉暂停" [nzFooter]="stopFooter" [nzMaskClosable]="false"
  nzClosable="false">
  <div>
    <h1>张拉暂停</h1>
    <div class="alarm">
        <div *ngFor="let name of _ms.tensionData.modes">
          <nz-card [nzTitle]="name + '报警'" *ngIf="_ms.showValues[name].alarmNumber">
              <div *ngFor="let item of _ms.showValues[name].alarm">
                <nz-alert *ngIf="item" nzType="error" [nzMessage]="item" nzDescription="报警说明" nzShowIcon>
                </nz-alert>
              </div>
            <h3 *ngIf="!_ms.state[name]">设备通信异常</h3>
          </nz-card>
        </div>
    </div>
  </div>
  <ng-template #stopFooter>
    <button nz-button nzType="default" (click)="onStop2run()" *ngIf="
    (_ms.tensionData.mode === 0 && _ms.showValues.a1.alarmNumber === 0 && _ms.state.a1) ||
    (_ms.tensionData.mode === 2 && _ms.showValues.b1.alarmNumber === 0 && _ms.state.b1) ||
    ( _ms.tensionData.mode === 1 && _ms.showValues.a1.alarmNumber === 0 && _ms.showValues.a2.alarmNumber === 0 && _ms.state.a1 && _ms.state.a2) ||
    ( _ms.tensionData.mode === 3 && _ms.showValues.b1.alarmNumber === 0 && _ms.showValues.b2.alarmNumber === 0 && _ms.state.b1 && _ms.state.b2) ||
    ( _ms.tensionData.mode === 4 && _ms.showValues.a1.alarmNumber === 0 && _ms.showValues.a2.alarmNumber === 0 && _ms.showValues.b1.alarmNumber === 0 && _ms.showValues.b2.alarmNumber === 0 && _ms.state.a1 && _ms.state.a2)
    ">继续张拉</button>
    <button nz-button nzType="default" (click)="onSaveExit()">保存数据·退出张拉</button>
    <button nz-button nzType="danger" (click)="onExit()">不保存数据·退出</button>
  </ng-template>
</nz-modal>
