<!-- <input type="number" name="msg" [(ngModel)]="msg">
<button (click)="F05(1, 1280, true)" nz-button>OnY0</button>
<button (click)="F05(1, 1280, false)" nz-button>OffY0</button>
<button (click)="F05(2, 1280, true)" nz-button>从OnY0</button>
<button (click)="F05(2, 1280, false)" nz-button>从OffY0</button>
<button (click)="F01(1, 1280, 20)" nz-button>F01</button>
<button (click)="Test()" nz-button>Test</button>
<h1>{{messages}}</h1> -->

<div class="content">
  <div>
    <header>
      <app-menu-button></app-menu-button>
      <h1>梁:{{bridgeName}} 孔号:{{autoData.task.name}}</h1>
      <div></div>
    </header>
    <hr>
  </div>
  <main>
    <div>
      <header class="live-stage">
        <div *ngFor="let item of autoData.data.stageSrt; index as i" class="item">
          <div class="top">
            <button nz-button [nzType]=" autoData.state.stage >= i ? 'primary': 'dashed'" nzShape="circle">{{item}}</button>
            <nz-progress [nzPercent]="(autoData.record.time[i] / autoData.data.time[i]) * 100" [nzStatus]="'active'"
              [nzShowInfo]="false"></nz-progress>
            <span style="font-size: 22px;">{{autoData.record.time[i]}} / {{autoData.data.time[i]}}</span>
          </div>
          <div class="bottom">
            <!-- <p>延时30/30</p> -->
          </div>
        </div>
        <div class="item">
          <div class="top">
            <button nz-button [nzType]=" autoData.state.loadOffState || autoData.state.loadOffDone ? 'primary': 'dashed'"
              nzShape="circle">卸荷</button>
            <nz-progress [nzPercent]="(autoData.state.loadOffTime / autoData.data.loadOffTime) *100" [nzStatus]="'active'"
              [nzShowInfo]="false"></nz-progress>
            <span>{{autoData.state.loadOffTime}} / {{autoData.data.loadOffTime}}</span>
          </div>
          <div class="bottom">
            <!-- <p>延时30/30</p> -->
          </div>
        </div>
        <div style="flex: 0;" class="item">
          <div class="top">
            <button nz-button nzShape="circle">回程</button>
          </div>
        </div>
      </header>
      <hr>
    </div>
    <div>
      <table border="1" cellspaning="0">
        <thead>
          <tr>
            <th width="80">设备</th>
            <th>状态</th>
            <th width="130">压力MPa</th>
            <th width="130">目标压力</th>
            <th width="130">绝对位移mm</th>
            <th width="150">单顶伸张量mm</th>
            <th width="130">总伸长量</th>
            <th width="130">偏差率</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let name of autoData.data.modeStr" [ngClass]="name">
            <td>{{name | L2U}}</td>
            <td>{{_ms.Dev[name].liveData.state}}</td>
            <td>{{_ms.Dev[name].liveData.mpa}}</td>
            <td>{{autoData.data.mpa[name][autoData.state.stage]}}</td>
            <td>{{_ms.Dev[name].liveData.mm}}</td>
            <td>{{autoData.sumData[name].mm}}</td>
            <td *ngIf="autoData.data.modeStr.length === 1">{{autoData.sumData[name].sum}}</td>
            <td *ngIf="autoData.data.modeStr.length === 1">{{autoData.sumData[name].deviation}}%</td>
            <td *ngIf="autoData.data.modeStr.length !== 1 && (name === 'a1' || name === 'b1')" rowspan="2">{{autoData.sumData[name].sum}}</td>
            <td *ngIf="autoData.data.modeStr.length !== 1 && (name === 'a1' || name === 'b1')" rowspan="2">{{autoData.sumData[name].deviation}}%</td>
          </tr>
        </tbody>
      </table>
    </div>
    <div class="cvs">
      <div #cvs>
        <app-canvas-cvs #cvsE *ngIf="heightCvs !== undefined" [width]="widthCvs" [height]="heightCvs"></app-canvas-cvs>
      </div>
      <div hidden="hidden">
      </div>
    </div>
  </main>
</div>

<!-- 张拉弹出框 -->
<nz-modal [nzVisible]="!autoData.state.run && !autoData.state.goBack" nzTitle="准备张拉·数据核对" nzWidth="auto" [nzFooter]="runFooter" [nzMaskClosable]="false"
  nzClosable="false">
  <nz-spin [nzSpinning]="upPlcState" nzTip="数据下载中..." [nzSize]="'large'">
    <div *ngIf="!autoData.state.self">
      <nz-card nzTitle="控制参数">
        <div class="run-main">
          <nz-form-item>
            <nz-input-group nzAddOnBefore="允许偏差率上限" nzAddOnAfter="%">
              <input (focus)="$event.target.select()" type="number" nz-input nzSize="large" [value]="autoData.data.maximumDeviationRate"
                (input)="autoData.data.maximumDeviationRate = $event.target.valueAsNumber">
            </nz-input-group>
          </nz-form-item>
          <nz-form-item>
            <nz-input-group nzAddOnBefore="允许偏差率下限" nzAddOnAfter="%">
              <input (focus)="$event.target.select()" type="number" nz-input nzSize="large" [value]="autoData.data.LowerDeviationRate"
                (input)="autoData.data.LowerDeviationRate = $event.target.valueAsNumber">
            </nz-input-group>
          </nz-form-item>
          <nz-form-item>
            <nz-input-group nzAddOnBefore="允许压力偏差" nzAddOnAfter="Mpa">
              <input (focus)="$event.target.select()" type="number" nz-input nzSize="large" [value]="autoData.data.mpaDeviation"
                (input)="autoData.data.mpaDeviation = $event.target.valueAsNumber">
            </nz-input-group>
          </nz-form-item>
          <nz-form-item>
            <nz-input-group nzAddOnBefore="平衡控制" nzAddOnAfter="mm">
              <input (focus)="$event.target.select()" type="number" nz-input nzSize="large" [value]="autoData.data.mmBalanceControl"
                (input)="autoData.data.mmBalanceControl = $event.target.valueAsNumber">
            </nz-input-group>
          </nz-form-item>
          <nz-form-item>
            <nz-input-group nzAddOnBefore="倒顶位移下限" nzAddOnAfter="mm">
              <input (focus)="$event.target.select()" type="number" nz-input nzSize="large" [value]="autoData.data.mmGoBack"
                (input)="autoData.data.mmGoBack = $event.target.valueAsNumber">
            </nz-input-group>
          </nz-form-item>
          <nz-form-item>
            <nz-input-group nzAddOnBefore="卸荷完成延时" nzAddOnAfter="s">
              <input (focus)="$event.target.select()" type="number" nz-input nzSize="large" [value]="autoData.data.loadOffTime"
                (input)="autoData.data.loadOffTime = $event.target.valueAsNumber">
            </nz-input-group>
          </nz-form-item>
        </div>
      </nz-card>
      <nz-card nzTitle="张拉数据">
        <table border="1" cellspaning="0" class="check">
          <tbody>
            <tr>
              <td>张拉阶段</td>
              <td *ngFor="let name of autoData.data.stageSrt">{{name}}</td>
            </tr>
            <tr>
              <td>张拉应力</td>
              <td *ngFor="let item of autoData.data.kn">{{item}}</td>
            </tr>
            <tr *ngFor="let name of autoData.data.modeStr" [ngClass]="name">
              <td>{{name | L2U}}</td>
              <td *ngFor="let mpa of autoData.data.mpa[name]">{{mpa}}</td>
            </tr>
            <tr>
              <td>保压时间</td>
              <td *ngFor="let time of autoData.data.time">{{time}}</td>
            </tr>
          </tbody>
        </table>
      </nz-card>
    </div>
    <div *ngIf="autoData.state.self">
      <div>
        <div *ngFor="let name of autoData.data.modeStr">
          <nz-alert nzType="error" *ngIf="_ms.Dev[name].liveData.state === '自检错误'; else elseBlock" [nzMessage]="(name | L2U) + _ms.Dev[name].liveData.state"
            nzShowIcon></nz-alert>
          <ng-template #elseBlock>
            <nz-alert [nzType]="_ms.Dev[name].liveData.state === '自检完成'? 'success' : 'info'" [nzMessage]="(name | L2U) +_ms.Dev[name].liveData.state"
              nzShowIcon></nz-alert>
          </ng-template>
        </div>
      </div>
    </div>
    <div *ngIf="autoData.state.selfError">
      <h1>自检错误</h1>
      <h3>1.检查设备位移是否对应连接！</h3>
      <h3>2.检查张拉回程油管是否对应连接！</h3>
    </div>
  </nz-spin>
  <ng-template #runFooter>
    <div>
      <button nz-button nzType="default" (click)="readyCancel()">取 消</button>
      <button nz-button nzType="primary" (click)="tensionRun();" *ngIf="!autoData.state.self || autoData.state.selfError">启动张拉</button>
    </div>
  </ng-template>
</nz-modal>


<nz-modal [nzVisible]="modalState.done" nzTitle="张拉完成" [nzMaskClosable]="false" nzClosable="false">
  <div>
    <h1>张拉完成！数据保存完成！</h1>
    <h2>{{modalState.doneTime}}s 自动退出！</h2>
  </div>
</nz-modal>

<nz-modal [nzVisible]="autoData.state.superWorkMm" nzTitle="超位移暂停" [nzFooter]="returnFooter" [nzMaskClosable]="false"
  nzClosable="false">
  <div>
    <h1>超位移暂停！</h1>
    <nz-form-item>
      <nz-input-group nzAddOnBefore="倒顶位移下限" nzAddOnAfter="mm">
        <input (focus)="$event.target.select()" type="number" nz-input nzSize="large" [value]="autoData.data.mmGoBack"
          (input)="autoData.data.mmGoBack = $event.target.valueAsNumber">
      </nz-input-group>
    </nz-form-item>
    <h1 *ngIf="_ms.returnMmOk">回顶完成！装载完成可以继续张拉！</h1>
  </div>
  <ng-template #returnFooter>
    <button nz-button nzType="default" (click)="onContinueTension()" *ngIf="autoData.state.goBackDone">继续张拉</button>
    <button nz-button nzType="default" (click)="onGoBack()">回顶</button>
    <button nz-button nzType="default" (click)="onShowData()" *ngIf="autoData.state.goBackDone">继续张拉</button>
    <button nz-button nzType="default" (click)="onSaveExit()">保存数据·退出张拉</button>
    <button nz-button nzType="danger" (click)="onExit()">不保存数据·退出</button>
  </ng-template>
</nz-modal>

<nz-modal [nzVisible]="autoData.state.pause" nzTitle="张拉暂停" [nzFooter]="stopFooter" [nzMaskClosable]="false" nzClosable="false">
    <div>
      <div>
          <nz-form-item>
            <nz-input-group nzAddOnBefore="允许偏差率上限" nzAddOnAfter="%">
              <input (focus)="$event.target.select()" type="number" nz-input nzSize="large" [value]="autoData.data.maximumDeviationRate"
                (input)="autoData.data.maximumDeviationRate = $event.target.valueAsNumber">
            </nz-input-group>
          </nz-form-item>
        </div>
      <div class="alarm">
        <div *ngFor="let name of autoData.data.modeStr">
          <nz-card [nzTitle]="(name + '报警') | L2U" *ngIf="_ms.Dev[name].liveData.alarmNumber || deviationRate[name]">
            <div *ngFor="let item of _ms.Dev[name].liveData.alarm">
              <nz-alert *ngIf="item" nzType="error" [nzMessage]="item" nzDescription="报警说明" nzShowIcon></nz-alert>
            </div>
            <div>
              <nz-alert *ngIf="deviationRate[name]" nzType="error" nzMessage="超偏差率报警" nzDescription="报警说明" nzShowIcon></nz-alert>
              <h3>当前偏差率： {{autoData.sumData[name].deviation}}</h3>
            </div>
          </nz-card>
        </div>
      </div>
    </div>
    <ng-template #stopFooter>
      <button nz-button nzType="default" (click)="onPauseRun()" *ngIf="autoData.state.alarmLift && !autoData.state.maximumDeviationRate">继续张拉</button>
      <button nz-button nzType="default" (click)="onSaveExit()">保存数据·退出张拉</button>
      <button nz-button nzType="danger" (click)="onExit()">不保存数据·退出</button>
    </ng-template>
  </nz-modal>
