<div class="footer">
  <button nz-button nzShape="circle" nzType="primary" (click)="fullMenu.showModal()" *ngIf="fullMenuState">
    <i class="anticon anticon-appstore"></i>
  </button>
  <div *ngIf="logoutState">
    <button nz-button nzType="primary" nzShape="circle" (click)="goLogin()">登出</button>
  </div>
  <!-- <p>{{liveStateFunc()}}</p> -->
  <div class="device">
    <button nz-button [nzType]="liveState?.z.state" nzGhost (click)="show()">{{liveState?.z.message}}</button>
    <button *ngIf="_ms.connectNo === '2'" nz-button [nzType]="liveState?.c.state" nzGhost (click)="show()">{{liveState?.c.message}}</button>
  </div>
  <app-full-menu #fullMenu></app-full-menu>
</div>

<nz-modal class="alarm-modal" [nzVisible]="a1Visible" nzTitle="设备状态" [nzWidth]="888" (nzOnCancel)="a1Visible = false" [nzFooter]="null">
  <div>
    <div style="display: flex;">
      <nz-form-item style="flex: 1;">
        <nz-form-label [nzSpan]="4">联机模式</nz-form-label>
        <nz-form-control [nzSpan]="18">
          <nz-radio-group [(ngModel)]="connectRadio" (ngModelChange)="onConnect($event)">
            <label nz-radio nzValue="1">单机模式</label>
            <label nz-radio nzValue="2">联机模式</label>
          </nz-radio-group>
        </nz-form-control>
      </nz-form-item>
    </div>
  </div>
  <div class="alarm">
    <div *ngFor="let name of _ms.deviceItemNames">
      <nz-card [nzTitle]="name + '报警'">
        <div *ngIf="_ms.Dev[name]?.liveData.alarmNumber">
          <div *ngFor="let item of _ms.Dev[name].liveData.alarm">
            <nz-alert *ngIf="item" nzType="error" [nzMessage]="item" nzDescription="报警说明" nzShowIcon>
            </nz-alert>
          </div>
        </div>
      </nz-card>

    </div>
  </div>
</nz-modal>
