<div class="footer">
  <button nz-button nzShape="circle" nzType="primary" (click)="fullMenu.showModal()">
    <i class="anticon anticon-appstore"></i>
  </button>
  <div class="device">
    <button nz-button [nzType]="_ms.state.a1 && _ms.showValues.a1.alarmNumber === 0 && _ms.showValues.b1.alarmNumber === 0 ? 'primary' : 'danger'" nzGhost (click)="a1Visible = true">{{_ms.deviceLinkZ}}</button>
    <button nz-button [nzType]="_ms.state.a2 && _ms.showValues.a2.alarmNumber === 0 && _ms.showValues.b2.alarmNumber === 0 ? 'primary' : 'danger'" nzGhost (click)="a1Visible = true">{{_ms.deviceLinkC}}</button>
  </div>
  <app-full-menu #fullMenu></app-full-menu>
</div>

<nz-modal [nzVisible]="a1Visible" nzTitle="设备报警" (nzOnCancel)="a1Visible = false" [nzFooter]="null">
  <div class="alarm">
      <div *ngFor="let name of _ms.deviceItemNames">
        <nz-card [nzTitle]="name + '报警'">
          <div *ngIf="_ms.showValues[name].alarmNumber">
            <div *ngFor="let item of _ms.showValues[name].alarm">
              <nz-alert *ngIf="item" nzType="error" [nzMessage]="item" nzDescription="报警说明" nzShowIcon>
              </nz-alert>
            </div>
          </div>
          <h3 *ngIf="!_ms.state[name]">设备未连接</h3>
        </nz-card>

      </div>
  </div>
</nz-modal>
